.container{

width:92%;

max-width:1400px;

margin:auto;

}

.card{

background:white;

border-radius:20px;

box-shadow:var(--shadow);

}

.flex{

display:flex;

}

.flex-between{

display:flex;

justify-content:space-between;

align-items:center;

}

.grid{

display:grid;

gap:25px;

}

.mt-20{

margin-top:20px;

}

.mt-30{

margin-top:30px;

}

.mt-40{

margin-top:40px;

}