:root{

--primary:#2563EB;

--secondary:#4F46E5;

--success:#22C55E;

--danger:#EF4444;

--warning:#F59E0B;

--background:#F8FAFC;

--card:#FFFFFF;

--border:#E2E8F0;

--text:#0F172A;

--text-light:#64748B;

--radius:20px;

--transition:.3s;

--shadow:

0 15px 40px rgba(15,23,42,.08);

}