.navbar{

height:80px;

background:white;

display:flex;

justify-content:space-between;

align-items:center;

padding:0 30px;

border-bottom:1px solid #E2E8F0;

position:sticky;

top:0;

z-index:100;

}

.search-box{

width:380px;

display:flex;

align-items:center;

gap:12px;

background:#F8FAFC;

padding:14px 18px;

border-radius:14px;

border:1px solid #E2E8F0;

}

.search-box input{

flex:1;

background:none;

font-size:15px;

}

.nav-right{

display:flex;

align-items:center;

gap:25px;

}

.notification-btn{

width:45px;

height:45px;

border-radius:50%;

background:#EEF4FF;

color:#2563EB;

font-size:18px;

display:flex;

justify-content:center;

align-items:center;

}

.user-box{

display:flex;

align-items:center;

gap:15px;

}

.avatar{

width:45px;

height:45px;

border-radius:50%;

background:linear-gradient(135deg,#2563EB,#4F46E5);

display:flex;

justify-content:center;

align-items:center;

color:white;

font-weight:700;

font-size:18px;

}

.user-box span{

color:#64748B;

font-size:13px;

}