.sidebar{

position:fixed;

left:0;

top:0;

width:280px;

height:100vh;

background:white;

border-right:1px solid #E2E8F0;

padding:25px;

display:flex;

flex-direction:column;

justify-content:space-between;

box-shadow:0 15px 40px rgba(15,23,42,.05);

}

.sidebar-logo{

margin-bottom:40px;

}

nav{

display:flex;

flex-direction:column;

gap:8px;

}

.menu{

display:flex;

align-items:center;

gap:15px;

padding:16px 18px;

border-radius:14px;

color:#64748B;

font-weight:600;

transition:.3s;

}

.menu:hover{

background:#EEF4FF;

color:#2563EB;

}

.menu.active{

background:linear-gradient(135deg,#2563EB,#4F46E5);

color:white;

}

.menu span{

font-size:18px;

}

.logout{

margin-top:auto;

display:flex;

align-items:center;

justify-content:center;

gap:12px;

padding:16px;

background:#EF4444;

color:white;

border-radius:14px;

font-size:15px;

font-weight:600;

transition:.3s;

}

.logout:hover{

background:#DC2626;

}