.notification-item{

display:flex;

align-items:flex-start;

gap:15px;

padding:16px 0;

border-bottom:1px solid #EEF2F7;

}

.notification-item:last-child{

border:none;

}

.notification-icon{

margin-top:4px;

color:#2563EB;

font-size:16px;

}

.notification-item p{

font-size:14px;

line-height:1.6;

color:#334155;

}