.course-table{

width:100%;

border-collapse:collapse;

background:white;

border-radius:20px;

overflow:hidden;

}

.course-table th{

background:#2563EB;

color:white;

padding:18px;

text-align:left;

}

.course-table td{

padding:18px;

border-bottom:1px solid #EEF2F7;

}

.course-table button{

margin-right:10px;

padding:10px;

border-radius:10px;

background:#EEF4FF;

color:#2563EB;

}