.btn{

width:100%;

padding:15px 20px;

border:none;

border-radius:14px;

font-size:15px;

font-weight:600;

transition:.3s;

cursor:pointer;

}

.btn.primary{

background:linear-gradient(135deg,#2563EB,#4F46E5);

color:white;

}

.btn.primary:hover{

transform:translateY(-3px);

box-shadow:0 15px 30px rgba(37,99,235,.25);

}

.btn.secondary{

background:white;

border:1px solid #E2E8F0;

color:#0F172A;

}

.btn.secondary:hover{

background:#F8FAFC;

}