.empty-state{

padding:70px 30px;

text-align:center;

background:white;

border-radius:20px;

box-shadow:0 15px 40px rgba(15,23,42,.08);

}

.empty-icon{

width:80px;

height:80px;

margin:auto;

margin-bottom:25px;

border-radius:50%;

display:flex;

justify-content:center;

align-items:center;

background:#EEF4FF;

font-size:34px;

color:#2563EB;

}

.empty-state h2{

margin-bottom:10px;

font-size:24px;

font-weight:700;

}

.empty-state p{

color:#64748B;

line-height:1.7;

max-width:450px;

margin:auto;

}